/* >>>>>>>
ROOT CSS
<<<<<<<<<< */
:root {
    /*   ##### Color  */
    --color-primary: rgb(255, 255, 13);
    --color-low: rgba(255, 255, 13, 0.853);
    --color-2: rgb(255, 203, 0);
    --color-low2: rgba(255, 203, 0, 0.715);
    --oxford-blue: hsla(221, 33%, 15%, 1);
    --light-gray: hsla(216, 12%, 84%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --white-low: rgba(255, 255, 255, 0.647);
    --black: hsla(0, 0%, 0%, 1);
    --black-low: rgba(0, 0, 0, 0.494);
    /*#### */

    /*#### Font Root */
    --heading-lg: 3.6rem;
    --heading-lw: 2.6rem;
    --title-lg: 2rem;
    --title-lw: 1.8rem;
    --paragraf-lg: 1.4rem;
    --paragraf-lw: 1.1rem;
    --paragraf-sm: 0.9rem;

    --fw-lg: 800;
    --fw-md: 600;
    --fw-low: 400;
    /*#### */

    /*#### Shadow Monart  */
    --shadow-lg: 0 0 10px rgba(8, 11, 14, 0.721);
    --shadow-md: 0 0 6px rgba(19, 24, 31, 0.713);
    --shadow-lw: 0 0 3px rgba(22, 25, 29, 0.68);
    --shadow-sm: 0 0 13px rgba(60, 72, 88, 0.369);

    --linear-gradient-1: linear-gradient(
        to top left,
        hsla(67.3, 69.2%, 54.7%, 0.4) 0%,
        hsla(42.7, 100%, 49.2%, 0.41)
    );
    --linear-gradient-2: linear-gradient(
        to right,
        hsl(38.1, 83%, 58%),
        hsl(60.8, 72%, 51%)
    );
    /*#### */

    /*#### Anim */
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --transition-3: 0.3s linear;
    /*#### */
}

/* >>>>>>>
BASE CSS
<<<<<<<<<< */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    color: var(--black-low);
    background-color: var(--white);
    height: 1000vh;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: var(--black);
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

.heading {
    font-size: var(--heading-lw);
    font-weight: var(--fw-lg);
}

.paragraf {
    font-size: var(--paragraf-lw);
    color: var(--black);
}
.btn {
    display: inline-block;
    font-size: var(--paragraf-lg);
    font-weight: var(--fw-lg);
    background-color: var(--color-2);
    color: var(--white);
    padding: 0.8rem 10rem;
    box-shadow: var(--shadow-lw);
    border-radius: 0.4rem;
}
.btn:hover {
    background-color: rgba(255, 205, 11, 0.834);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}
button {
    background: none;
    border: none;
    outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* ###  */
.container {
    max-width: 96%;
    margin: 0 auto;
}
.navbar.sticky {
    padding: 1.2rem 0;
    background-color: var(--color-low);
}

/* ###  */

/* ### Navbar Start */
.navbar {
    width: 100%;
    background-color: var(--color-primary);
    position: fixed;
    top: 0;
    left: 0;
    padding: 1.6rem 0;
    transition: var(--transition-2);
    z-index: 10;
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image-nav-logo {
    width: 40px;
    padding-bottom: 6px;
}
.nav-logo {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: var(--title-lg);
    font-weight: var(--fw-lg);
}

.nav-logo span {
    color: hsl(0, 100%, 33.2%);
}
.nav-navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--color-2);
    width: 60%;
    height: 100vh;
    transition: var(--transition-2);
}
.nav-navbar.active {
    right: 0;
}
.nav-navbar .nav-link {
    font-size: var(--paragraf-lg);
    font-weight: var(--fw-lw);
    display: block;
    padding: 1.2rem;
    margin-bottom: 4px;
    transition: var(--transition-1);
}
.nav-navbar .nav-link:hover {
    color: var(--white);
}
.nav-navbar .nav-link::after {
    content: "";
    width: 60px;
    display: block;
    padding-bottom: 0.4rem;
    border-bottom: 0.1rem solid #bb0000;
    transform: scaleX(0);
    transition: var(--transition-3);
}
.nav-navbar .nav-link:hover::after {
    transform: scaleX(1);
}

.nav-fitur {
    display: flex;
    align-items: center;
    gap: 4px;
}
.nav-fitur .fiture {
    font-size: var(--title-lg);
    padding: 2px 5px;
}
.nav-fitur .fiture.bars-menu {
    font-size: var(--heading-lw);
}
/* ### Navbar End */

/* ### Header Start */
.header {
    width: 100%;
    padding: 8rem 0 2rem 0;
}

.header .container {
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}
.header-text {
    padding-top: 0.4rem;
    text-align: center;
    color: var(--black);
    line-height: 1.2;
}
.header-text .heading {
    font-size: var(--heading-lw);
    font-weight: var(--fw-lg);
    padding-bottom: 1rem;
}
.header-text .pafagraf {
    font-size: var(--paragraf-lw);
}
.header-text .btn {
    margin-top: 1.4rem;
}
.img-header {
    width: 350px;
    filter: saturate(1);
}

/* ### Header End */

/* ### About Start */
.about,
.menu {
    width: 100%;
    padding: 8rem 0 2rem;
}
.about .heading,
.menu .heading {
    position: relative;
    color: var(--black);
    text-align: center;
    font-size: var(--title-lg);
    font-weight: var(--fw-lg);
    padding: 0;
}
.about .heading::before {
    content: "";
    border-left: 0.3rem solid var(--color-2);
    padding-left: 0.8rem;
}
.about .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}
.about-text {
    text-align: left;
    color: var(--black);
}
.about-text .h-about {
    font-size: var(--title-lw);
    padding: 0.5rem 0;
}
.about-text .p-about {
    font-size: var(--paragraf-lw);
}
.img-about {
    width: 260px;
    padding: 3rem 0;
}
/* ### about End */

/* ### Menu Start */

/* ### Menu End */
