/* >>>>>>>
ROOT CSS
<<<<<<<<<< */
:root {
    /*   ##### Color  */
    --color-primary: rgb(255, 255, 13);
    --color-low: rgba(255, 255, 13, 0.853);
    --color-2: rgb(255, 203, 0);
    --color-low2: rgba(255, 203, 0, 0.715);
    --oxford-blue: hsla(221, 33%, 15%, 1);
    --light-gray: hsla(216, 12%, 84%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --white-low: rgba(255, 255, 255, 0.647);
    --black: hsla(0, 0%, 0%, 1);
    --black-low: rgba(0, 0, 0, 0.494);
    /*#### */

    /*#### Font Root */
    --heading-lg: 3.6rem;
    --heading-lw: 2.6rem;
    --title-lg: 2rem;
    --title-lw: 1.8rem;
    --paragraf-lg: 1.4rem;
    --paragraf-lw: 1.1rem;
    --paragraf-sm: 0.9rem;

    --fw-lg: 800;
    --fw-md: 600;
    --fw-low: 400;
    /*#### */

    /*#### Shadow Monart  */
    --shadow-lg: 0 0 10px rgba(8, 11, 14, 0.721);
    --shadow-md: 0 0 6px rgba(19, 24, 31, 0.713);
    --shadow-lw: 0 0 3px rgba(22, 25, 29, 0.68);
    --shadow-sm: 0 0 4px rgba(60, 72, 88, 0.369);

    --linear-gradient-1: linear-gradient(
        to top left,
        hsla(67.3, 69.2%, 54.7%, 0.4) 0%,
        hsla(42.7, 100%, 49.2%, 0.41)
    );
    --linear-gradient-2: linear-gradient(
        to right,
        hsl(38.1, 83%, 58%),
        hsl(60.8, 72%, 51%)
    );
    /*#### */

    /*#### Anim */
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --transition-3: 0.3s linear;
    /*#### */
}

/* >>>>>>>
BASE CSS
<<<<<<<<<< */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    color: var(--black-low);
    background-color: var(--white);
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: var(--black);
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

.heading {
    font-size: var(--heading-lw);
    font-weight: var(--fw-lg);
}

.paragraf {
    font-size: var(--paragraf-lw);
    color: var(--black);
}
.btn {
    display: inline-block;
    font-size: var(--paragraf-lg);
    font-weight: var(--fw-lg);
    background-color: var(--color-2);
    color: var(--white);
    padding: 0.8rem 10rem;
    box-shadow: var(--shadow-lw);
    border-radius: 0.4rem;
}
.btn:hover {
    background-color: rgba(255, 205, 11, 0.834);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}
button {
    background: none;
    border: none;
    outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* ###  */
.container {
    max-width: 96%;
    margin: 0 auto;
}
.navbar.sticky {
    padding: 1.2rem 0;
    background-color: var(--color-low);
}

/* ###  */

/* ### Navbar Start */
.navbar {
    width: 100%;
    background-color: var(--color-primary);
    position: fixed;
    top: 0;
    left: 0;
    padding: 1.6rem 0;
    transition: var(--transition-2);
    z-index: 10;
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image-nav-logo {
    width: 40px;
    padding-bottom: 6px;
}
.nav-logo,
.logo-footer {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: var(--title-lg);
    font-weight: var(--fw-lg);
}

.nav-logo span,
.logo-footer span {
    color: hsl(0, 100%, 33.2%);
}
.nav-navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--color-2);
    width: 60%;
    height: 100vh;
    transition: var(--transition-2);
}
.nav-navbar.active {
    right: 0;
}
.nav-navbar .nav-link {
    font-size: var(--paragraf-lg);
    font-weight: var(--fw-lw);
    display: block;
    padding: 1.2rem;
    margin-bottom: 4px;
    transition: var(--transition-1);
}
.nav-navbar .nav-link:hover {
    color: var(--white);
}
.nav-navbar .nav-link::after {
    content: "";
    width: 60px;
    display: block;
    padding-bottom: 0.4rem;
    border-bottom: 0.1rem solid #bb0000;
    transform: scaleX(0);
    transition: var(--transition-3);
}
.nav-navbar .nav-link:hover::after {
    transform: scaleX(1);
}

.nav-fitur {
    display: flex;
    align-items: center;
    gap: 4px;
}
.nav-fitur .fiture {
    font-size: var(--title-lg);
    padding: 2px 5px;
}
.nav-fitur .fiture.bars-menu {
    font-size: var(--heading-lw);
}
/* search navbar */
.search-navbar {
    position: absolute;
    top: 100%;
    right: 1.6rem;
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 0 0.4rem;
    transform: scaleY(0);
    transform-origin: top;
    transition: var(--transition-3);
}
.search-navbar.active {
    transform: scaleY(1);
}
.search-navbar input {
    width: 30rem;
    height: 3.4rem;
    font-size: var(--paragraf-lg);
    padding: 0.6rem;
    border-radius: 0.4rem;
    border: 0.2rem solid var(--black-low);
}
.search-navbar .search-icn {
    font-size: var(--paragraf-lg);
    font-weight: var(--fw-lg);
    color: var(--black);
    background-color: var(--color-2);
    border-radius: 0.2rem;
    padding: 0.8rem 0.6rem;
}
/* Shopping Card */
.shopping-slide {
    width: 60%;
    height: 100vh;
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--color-2);
    padding: 1rem 0.4rem;
    transition: var(--transition-3);
}
.shopping-slide.active {
    right: 0;
}
.shopping-item {
    position: relative;
    display: flex;
    gap: 0.6rem;
    background-color: var(--white);
    padding: 0.2rem;
    border-radius: 0.3rem;
    margin-top: 0.5rem;
    box-shadow: var(--shadow-sm);
}
.shopping-item .image-item-shop {
    width: 60px;
    height: 50px;
    border-radius: 0.4rem;
}
.content-shopping .name-menu-shop {
    font-size: var(--paragraf-lw);
    font-weight: var(--fw-lg);
    color: var(--black);
}
.content-shopping .price-menu-shop {
    font-size: var(--paragraf-sm);
    font-weight: var(--fw-md);
    color: #bb0000;
}
.trash-shopping {
    font-size: var(--paragraf-lw);
    padding: 0.3rem;
    position: absolute;
    top: 40%;
    right: 0.8rem;
    color: rgb(255, 5, 5);
}

/* ### Navbar End */

/* ### Header Start */
.header {
    width: 100%;
    padding: 8rem 0 2rem 0;
}

.header .container {
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}
.header-text {
    padding-top: 0.4rem;
    text-align: center;
    color: var(--black);
    line-height: 1.2;
}
.header-text .heading {
    font-size: var(--heading-lw);
    font-weight: var(--fw-lg);
    padding-bottom: 1rem;
}
.header-text .pafagraf {
    font-size: var(--paragraf-lw);
}
.header-text .btn {
    margin-top: 1.4rem;
}
.img-header {
    width: 350px;
    filter: saturate(1);
}

/* ### Header End */

/* ### About Start */
.about,
.menu,
.testimoni,
.contact {
    width: 100%;
    padding: 8rem 0 2rem;
}
.about .heading,
.menu .heading,
.testimoni .heading,
.contact .heading {
    position: relative;
    color: var(--black);
    text-align: center;
    font-size: var(--title-lg);
    font-weight: var(--fw-lg);
    padding: 1.2rem 0;
}
.about .heading::before {
    content: "";
    border-left: 0.3rem solid var(--color-2);
    padding-left: 0.8rem;
}
.about .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}
.about-text {
    text-align: left;
    color: var(--black);
}
.about-text .h-about {
    font-size: var(--title-lw);
    padding: 0.5rem 0;
}
.about-text .p-about {
    font-size: var(--paragraf-lw);
}
.img-about {
    width: 260px;
    padding: 3rem 0;
}
/* ### about End */

/* ### Menu Start */
.menu .container {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 7px;
}
.menu .container .box-menu {
    width: 150px;
    display: flex;
    flex-direction: column;
    margin-top: 0.3rem;
}
.box-menu .top-menu {
    position: relative;
}
.box-menu .top-menu .image-menu {
    border-radius: 0.3rem;
    width: 100%;
    height: 120px;
    object-fit: cover;
    object-position: center;
}
.hover_menu {
    position: absolute;
    top: 0;
    background-color: var(--black-low);
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: var(--transition-3);
}
.hover_menu.active {
    display: flex;
}
.hover_menu button {
    padding: 1rem 1.2rem;
    color: var(--white);
    font-size: 3rem;
}

.content-menu .btn.btn-menu {
    padding: 0;
    display: flex;
    justify-content: center;
    padding: 0.6rem 0;
    border-radius: 0.2rem;
    margin-top: 0.5rem;
}
.content-menu .menu-title {
    font-size: var(--paragraf-lg);
    color: var(--black);
    font-weight: var(--fw-lg);
    padding: 0.2rem 0;
}
.content-menu .price_menu {
    color: #bb0000;
    font-size: var(--paragraf-lw);
    font-weight: var(--fw-lg);
}
.content-menu {
    padding-top: 0.8rem;
}
/* ### Menu End */

/* ### testimoni End */
.testimoni .container {
    padding-top: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.testimoni .heading {
    padding-bottom: 2rem;
}
.checkpoint {
    width: 100%;
    padding: 0.8rem 0;
    max-width: 34rem;
    position: relative;
}
.checkpoint:nth-child(odd) {
    border-left: 1px solid var(--color-2);
    padding-left: 3rem;
    transform: translateX(17rem);
}
.checkpoint:nth-child(even) {
    border-right: 1px solid var(--color-2);
    padding-right: 3rem;
    transform: translateX(-16.9rem);
}
.checkpoint:nth-child(odd)::before,
.checkpoint:nth-child(even)::before {
    content: "";
    width: 3rem;
    height: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--color-2);
}
.checkpoint:nth-child(odd) .box-testi::before,
.checkpoint:nth-child(even) .box-testi::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #bb0000;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    transform: translateY(-50%);
}
.checkpoint:nth-child(even)::before {
    right: 0;
}
.checkpoint:nth-child(odd)::before {
    left: 0;
}
.checkpoint:nth-child(even) .box-testi::before {
    right: -4px;
}
.checkpoint:nth-child(odd) .box-testi::before {
    left: -4px;
}
.checkpoint .box-testi {
    padding: 1.2rem 0.8rem;
    border: 1px solid var(--color-2);
    border-radius: 0.4rem;
}
.box-testi .profil-testi {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.profil-testi .title-testi {
    font-size: var(--paragraf-lg);
    font-weight: var(--fw-lg);
    color: var(--black);
}
.rating-testi {
    padding: 0.5rem 0;
}
.rating-testi .icn-star {
    color: var(--color-2);
}
.rating-testi .no-rattesti {
    font-size: 0.9rem;
    font-weight: var(--fw-lg);
    color: var(--black-low);
    padding-left: 0.3rem;
}
.profil-testi .image-profil-testi {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
/* ### testimoni End */

/* ### Contact Start */
.contact {
    padding: 6rem 0 2rem;
}

.contact .form-contact {
    width: 94%;
    max-width: 70rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.4rem 1.2rem;
    border-radius: 8px;
    box-shadow: var(--shadow-sm);
    margin-top: 1.5rem;
}
.form-contact .form-top {
    display: flex;
    flex-direction: column;
}
.form-contact label {
    color: var(--black-low);
    font-weight: var(--fw-md);
    padding-left: 2px;
    margin-top: 0.6rem;
}
.form-top input {
    border: 0.1rem solid var(--black-low);
    outline: none;
    padding: 0.6rem 0.4rem;
    border-radius: 4px;
}
.form-contact textarea {
    border: 0.1rem solid var(--black-low);
    height: 80px;
    outline: none;
    padding: 0.6rem 0.4rem;
    border-radius: 4px;
}
.form-contact .btn-contact {
    margin-top: 1rem;
    padding: 0.6rem 0;
    font-size: var(--paragraf-lw);
    box-shadow: none;
}

/* ### Contact End */

/* ### footer start */
footer {
    background-color: rgba(255, 203, 0, 0.502);
    padding: 1.4rem 0 1rem;
    margin-top: 6rem;
}
footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}
.logo-footer {
    font-size: var(--paragraf-lg);
    padding: 0 0.3rem;
}
.logo-footer .image-nav-logo {
    width: 30px;
    padding-bottom: 6px;
}
.sosial-media {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: var(--paragraf-lg);
    padding-bottom: 0.6rem;
}
.sosial-media .link-sosmed {
    padding: 0.2rem;
}
.copyright {
    font-size: var(--paragraf-sm);
}
/* ### footer End */
